h1 {text-align: center;
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
/* body {background-image: url('images/monrore_island.jpeg');
    background-size: cover;} */
body{background-color: antiquewhite;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 5px;}    
main {background-color: palegoldenrod;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.pic {max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;}
.txt {text-align: justify;
    padding-left: 20px;
    padding-right: 20px;}
.caption {text-align: center;
    font-style: italic;
    font-size: 10px;
    padding-bottom: 20px;}